*{
    margin: 0px;
}

#main, #canvas{
    border: 2px solid black;
}

#canvas{
    width: 60%;
    margin: auto;
    min-height: 750px;
    overflow: auto;  /*Allows scrolling if content exceeds height*/
}

#form-body{
    width: 350px;
    height: auto;
    margin: auto;
    border: 1px solid darkslategrey;
    margin-top: 100px;
    border-radius: 5px;
    padding: 10px;
}

.headings {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
}
